<p>{{ quantity }} token(s) {{ realtProperty }} disponible</p>
<p>Prix SwapCat: {{ price }}</p>
<p>Prix RealT: {{ initialPrice }}$</p>
<p>{{ textRatio }}</p>
<p> URL SwapCat pour l'achat: <a href="{{ urlSwapCat }}">{{ urlSwapCat }}</a></p>
<p> URL RealT: <a href="{{ urlRealT }}">{{ urlRealT }}</a></p>